<title>Aradığınız sayfa bulunamadı.</title>

<header>
    <div class="px-3 py-2 bg-custom border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h1 class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">404</h1>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li class="header-li">
                        <a href="/" class="nav-link text-white">
                            <img class="bi d-block mx-auto mb-1 svg-icon" width="32" height="32" src="assets/home.svg">
                            <h6>Ana Sayfa</h6>
                        </a>
                    </li>
                    <li>
                        <a href="/machinery" class="nav-link text-white">
                            <img class="bi d-block mx-auto mb-1 svg-icon" width="32" height="32" src="assets/machinery.svg">
                            <h6>Makine</h6>
                        </a>
                    </li>
                     <li>
                        <a href="/spare-parts" class="nav-link text-white">
                            <img class="bi d-block mx-auto mb-1 svg-icon" width="32" height="32" src="assets/spare-parts.svg">
                            <h6>Yedek Parça</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


<div class="container mt-5">
    <div class="alert alert-danger text-center">
        <h1>404</h1>
        <p>Aradığınız sayfa bulunamadı.</p>
        <a href="/" class="btn btn-primary">Ana Sayfaya Dön</a>
    </div>
</div>