<title>Stok Takip</title>

<header>
    <div class="px-3 py-2 bg-custom border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h1 class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">Ana Sayfa</h1>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li class="header-li">
                        <a href="/" class="nav-link text-white">
                            <img class="bi d-block mx-auto mb-1 svg-icon" width="32" height="32" src="assets/home.svg">
                            <h6>Ana Sayfa</h6>
                        </a>
                    </li>
                    <li>
                        <a href="/machinery" class="nav-link text-white">
                            <img class="bi d-block mx-auto mb-1 svg-icon" width="32" height="32" src="assets/machinery.svg">
                            <h6>Makine</h6>
                        </a>
                    </li>
                     <li>
                        <a href="/spare-parts" class="nav-link text-white">
                            <img class="bi d-block mx-auto mb-1 svg-icon" width="32" height="32" src="assets/spare-parts.svg">
                            <h6>Yedek Parça</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="container main-page-container">
        <h1 class="display-4">Stok Takip Uygulaması</h1>
        <p class="lead">Bu repo, Node.js kullanılarak oluşturulmuş basit bir stok takibi web sitesi uygulaması örneğidir.</p>
        <hr class="my-4">
        <p>Beni GitHub ve LinkedIn'den takip edebilirsiniz.</p>
        <div>
            <a class="btn btn-lg" href="https://github.com/kaansrflioglu" target="_blank" role="button">
                <img src="assets/github.png" width="32" height="32">
                GitHub
            </a>
            <a class="btn btn-lg" href="https://www.linkedin.com/in/kaansereflioglu/" target="_blank"
                role="button">
                <img src="assets/linkedin.png" width="32" height="32">
                Linkedin
            </a>
        </div>

    </div>
</div>